*{
	margin: 0;
	padding: 0;
}


header{
	display: flex;
	background-color: #DBFAF8;
	height: 80px;
	justify-content: space-between;
}

.logo{
	display: flex;
}
.logo img{
	width: 100px;
}
.logo h1{
	margin-top: 20px;
	color: #0E1B5C;
}
.container{
	display: flex;
	float: right;
}
.container img{
	margin-left: 30px;
	margin-top: 20px;
	width: 700px;
	height: 200px;
	margin-right: 0;

	border: 1px solid white;

}
.container h1{
	margin-top: 80px;
	margin-left: 10px;
	margin-right: 30px;
	font-family: Cooper Black;
	font-size: 40px;
	color: #0E1B5C;
}




nav ul{
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
	margin-right: 10px;
	padding-top: 20px;
	margin-bottom: 20px;

}

nav ul li{
	margin-right: 30px;
	color: #0E1B5C;
	margin-top: 10px;
	font-size: 15px;
}

nav ul a{
	text-decoration: none;
}

nav ul a:hover{
	font-weight: bold;
}
.products{
	display: flex;
	float: left;
}

.products img{
	width: 200px;
	height: 200px;
}
.images{
	display: inline-block;
	border: 1px solid #ddd;
	align-items: center;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 20px;
}

.images img{
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 10px;
	border: 1px solid white;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.250);
}
.images h3{
	text-align: center;
}
.products{
	margin-left: 20px;
	align-content: center;
}

info{
	display: flex;
	justify-content: distance-between;
}

footer{
	display: inline-block;
	background-color: #DBFAF8;
	height: 80px;
	width: 100%;
}

.info{
	display: flex;
	justify-content: space-between;
}

.footer_logo img{
	width: 100px;

}